/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}

* {
    font-family: Inter, "Helvetica Neue", sans-serif;
}

button {
    cursor: pointer;
}